html {
  background-color: rgb(240, 240, 247);
}
body {
  margin: 0;
  padding: 0 !important;
}
#root {
  overflow-y: auto;
  height: 100vh;
}
/* #root::-webkit-scrollbar {
  z-index: 9999999999;
} */
